@media (max-width: 884px) {
    .bar {
        display: flex;
        justify-content: space-around;
        max-width: 884px;
        width: 100%;
        align-items: flex-start;
    }

    .right-bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
    }

    nav {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        right: 50px;
    }

    .properties-wrapper {
        max-width: 884px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: relative;
        right: 40px;
    }

    .our-history-right-bar {
        position: relative;
        top: 50px;
    }
}

@media (max-width: 796px) {
    .our-history-right-bar {
        position: relative;
        top: 100px;
    }

    .our-menu-paper {
        flex-wrap: wrap;
    }

    .our-menu-paper-body {
        
        position: relative;
        bottom: 100px;
        max-width: 300px;
        width: 100%;
        min-height: 400px;
        max-height: 400px;
        height: 100%;
        margin-bottom: 10px;
    }

    .our-menu-body-paper-image img {
        width: 150px;
    }

    .our-menu-body-paper-price {
        width: 50px;
        height: 50px;
        position: relative;
        right: 28px;
        top: -76px;
        left: 113px;
    }

    .our-menu-wrapper-inner {
        position: relative;
        bottom: 20px;
    }

    #last-menu {
        margin-top: 10px;
    }
}
 
@media (max-width: 752px) {
    .our-history-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-history-left-bar {
        width: 80%;
        
    }

    .our-history-right-bar {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .reserve-a-table {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reserve-a-table-left-bar {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .reserve-a-table-left-bar-subtitle {
        margin-bottom: 20px;
    }

    .reserve-a-table-right-bar {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .reserve-a-table-right-bar button {
        position: relative;
        left: 0;
    }
}

@media (max-width: 649px) {
    header {
        width: 100%;
        max-width: 649px;
        padding: 0;
    }

    .right-bar {
        display: none;
    }

    .bar {
        width: 100%;
        max-width: 649px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 60px;
        display: flex;
    }

    .logo img {
        width: 50px;
    }

    .logo img:last-child {
        position: relative;
        right: 30px;
    }

    .media-menu {
        display: flex;
        font-size: clamp(30px, 13vw, 50px);
        width: 100%;
        justify-content: right;
        color: #FF7400;
    }

    #toggle {
        display: none;
    }

    label {
        position: fixed;
        z-index: 9999;
        top: 10px;
        right: 10px;
    }

    .menu-bar-show {
        background-color: #382800;
        background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
        height: 100vh;
        width: 80%;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        transition: 1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #toggle:checked ~ .menu-bar-show {
        right: -100%;
    }

    .menu-bar-show-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        height: 40vh;
        position: relative;
        top: 40px;
    }

    .menu-bar-show-nav a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .menu-bar-show-phone-number {
        display: flex;
        font-size: clamp(15px, 7vw, 23px);
        position: fixed;
        top: 80px;
        text-align: center;
        padding: 0 10px;
        color: white;
    }

    .menu-bar-show-icon {
        margin-right: 10px;
    }

    .menu-bar-show-btn-reservation {
        display: flex;
        justify-content: center;
    }

    .menu-bar-show-btn-reservation button {
        background-color: #FF7400;
        padding: 10px 20px;
        border: 1px solid #FF7400;
        position: fixed;
        bottom: 50px;
        color: white;
    }

    .menu-bar-show-btn-reservation button:active {
        background-color: #914100;
    }

    .menu-bar-show-contact-title {
        font-size: clamp(18px, 7vw, 23px);
        text-align: center;
        color: white;
        position: fixed;
        top: 120px;
    }

    .header-container {
        width: 100%;
        max-width: 649px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .paper-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .paper {
        width: 70%;
        max-width: 649px;
        margin-bottom: 50px;
        padding: 30px 40px;
    }

    .paper:hover {
        transform: translateY(0);
    }

    .paper-text {
        margin-bottom: 40px;
    }

    .our-history-left-bar {
        margin-top: -80px;
    }

    .our-history-right-bar {
        width: 90%;
        margin: -50px 0 0 0;
    }

    .our-food-wrapper {
        padding: 0 20px;
    }

    .our-food-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-food-body-left-bar {
        width: 80%;
        margin: 0;
    }

    .our-food-title {
        margin: 40px 0 40px;
    }

    .our-food-body-right-bar {
        width: 80%;
        margin: 0;
    }

    .our-menu-wrapper {
        margin-top: 40px;
    }

    #our-menu-paper-body {
        display: none;
    }

    .our-menu-paper-body {
        position: relative;
        bottom: 60px;
        max-width: 350px;
        width: 100%;
        min-height: 510px;
        height: 100%;
        padding: 0 20px;
    }

    .our-menu-paper-recomandation {
        margin-bottom: 35px;
        position: relative;
        right: 20px;
    }

    .our-menu-body-paper-image {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .our-menu-body-paper-image img {
        width: 90%;
    }

    .our-menu-wrapper {
        height: 800px;
    }

    .our-menu-paper-recomandation {
        display: flex;
        width: 100%;
        max-width: 350px;
        
    }

    .our-menu-body-paper-price {
        width: 100%;
        max-width: 60px;
        height: 100%;
        max-height: 60px;
        position: relative;
        top: -100px;
        left: 138px;
    }

    .food-galery-images {
        display: flex;
        flex-direction: column;
    }

    .food-galery-images:last-child {
        display: flex;
        flex-direction: column-reverse;
    }

    .our-cook-images {
        display: flex;
        flex-direction: column;
    }

    .our-cook-title {
        margin: 20px 0 30px 0;
    }

}

@media (max-width: 373px) {
    .left-bar-subtitle {
        display: none;
    }
    .right-bar-subtitle {
        display: none;
    }
}

@media (max-width: 263px) {
    .our-menu-body-paper-price {
        position: relative;
        top: -100px;
        left: 108px;
    }
}